@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
span {
    color: #242424;
    text-align: center;
    line-height: 1.25em;
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.5em;
    font-size: 16px;
}

a {
    text-decoration: none;
    position: relative;
}

/*removes the dot points*/
li {
    list-style-type: none;
}

/* makes <div class="about-me__info--row"> also min height 100vh */

.flex {
    display: flex;
}

/*makes the about-me section the entire min height= 100vh*/
.flex-1 {
    flex: 1;
}

/*spaces the bottom of about me section and top of languages sections */
.container {
    padding: 50px 0;
}

/*makes the width of the about-me info container max width of 800px of the flex flex-1 container
---> also makes the text centered*/
.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    /*adjusted for mobile, displays the project section without touching the sides of screen */
    padding: 0 12px;

}

/*styles the text purple*/
.text--purple {
    color: #6030b1;
}

/*makes every even section background-color grey --> reusable code*/
section:nth-child(even) {
    background-color: #f8f8f8;
}

/*spaces the language images and the header "this is my technology stack"*/
.section__title {
    margin-bottom: 20px;
}

/*NAVIGATION BAR*/

/*displays horizontally and spaces the logo and the links*/
nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*gets the links to become horizontal*/
.nav__link--list {
    display: flex;
}

/*all nav links*/
.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}

/*purple link*/
.nav__link--anchor-primary {
    background-color: #6030b1;
    color: white;
    border-radius: 50px;
    padding: 8px 20px;
    /*makes the transition of hover smoother*/
    transition: all 300ms ease;

}

/*makes purple link background darker when hover over*/
.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

/*styles the Adnan Khan logo on the left of navigation bar*/
.personal__logo {
    font-size: 24px;
    font-weight: bold;
    color: #6030b1;
    margin: 0 12px;

}

/*ABOUT ME*/

/*makes the page the entire height 100vh=1920px*/
#about__me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*allows the undraw image to take up the full height of page*/
.about-me__info {
    display: flex;
    flex-direction: column;
}


/*centers the image, h1 and p*/
.about-me__info--container {
    display: flex;
    flex-direction: column;
    align-items: center;

    /*styles the writing to become less wide*/
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

/*changes the size of picture*/
.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*gets rid of square box*/
    overflow: hidden;
    /*styles the bottom to display a shadow effect*/
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    margin-bottom: 28px;

}

/*make sure the image that is wrapped has width of 100%*/
.about-me__picture {
    width: 100%;

    /*improving picture*/
    transform: scale(1.5);
    padding-top: 8px;
}

/*moves the paragraph down*/
.about-me__info--title {
    margin-bottom: 28px;
}

.about-me__info--para {
    font-size: 20px;
    margin-bottom: 28px;
}

.about-me__link {
    font-size: 20px;
    color: #242424;
    text-decoration: none;
    padding: 0 16px;
}

/*allows the undraw image to take up the full height of page*/
.about-me__image--container {
    flex: 1;
    display: flex;
    align-items: center;
}


.about-me__image {
    width: 100%;
}


/*LANGUAGES SECTION*/

/*shrink the size of image*/
.language__img {
    width: 100%;
    max-width: 100px;
    /*makes the transition of hover smoother*/
    transition: all 300ms ease;
}

.language:hover .language__img {
    /*makes the img brightness lower*/
    filter: brightness(80%);
    /*makes the img a little transparent*/
    opacity: 0.86;
    /*shrink the img when hover*/
    transform: scale(0.9);
}

.language {
    /*sets the percentage of image width to take up in each row*/
    width: 25%;
    /*moving the text for the images relative to language wrapper & df and jcc makes the image in the center*/
    display: flex;
    justify-content: center;
    position: relative;
}

/*ensure the images are spaced properly*/
.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

/*makes the images into rows*/
.language__list {
    display: flex;
    flex-wrap: wrap;
    /*makes the spaced better on mobile*/
    justify-content: center;
    width: 100%
}

/*positions the language name beneath the image relative to language wrapper*/
.language__name {
    position: absolute;
    bottom: 0;
    /*starts of with a scale of 0 of the text size*/
    transform: scale(0);
    transition: all 300ms ease;
    font-size: 20px;
}

/*hover targets the language wrapper and transform the language name back to full text size */
.language:hover .language__name {
    transform: scale(1);
    opacity: 1;
}

/*PROJECTS*/

.project__list {
    padding-top: 40px;
}

.project {
    margin-bottom: 135px;
}

.project:last-child {
    margin-bottom: 40px;
}


/*resizes the image to fit the project__wrapper*/
.project__img {
    width: 100%;
    /*makes the blur and resize effect smoother*/
    transition: all 500ms ease;
}

.project__wrapper {
    /*ensures the img is 100% of project class*/
    display: flex;
    /*creates the shadow effect*/
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    /*prohibits the image from spilling out*/
    border-radius: 20px;
    overflow: hidden;
    /*prohibits the image from spilling out*/
    position: relative;
}

.project__wrapper:before {
    /*always put content with a :before*/
    content: "";
    /*setting the layout for the darken affect when hover*/
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    /*sets opacity to 0 initally*/
    opacity: 0;
    transition: opacity 450ms ease;
    /*stacks the black screen on the project__img, positive means above, negative is below*/
    z-index: 2;
}

/*stacks the black screen on the project__img*/
.project:hover .project__wrapper:before {
    opacity: 0.7;
}

/*when hover over project class the project__img blurs and increases in size*/
.project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

/*makes the opacity 1 and moves the description to the up 50%*/
.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__description {
    /*position the text relative to the project__wrapper*/
    position: absolute;
    top: 50%;
    left: 90px;
    /*position of text is initially at the bottom*/
    /*if you do not want sliding up transition, just paste transform: translateY(-50%);*/
    transform: translateY(100%);
    max-width: 550px;
    /*stacks the project description on the black blur effect*/
    z-index: 3;
    /*opacity initally zero when the cursor is not hovered over image*/
    opacity: 0;
    transition: opacity 400ms ease;
    /*displays the sliding up transition*/
    transition: transform 400ms;

}

.project__description--title {
    font-size: 40px;
}

.project__description--subtitle {
    margin: 16px 0;

}

.project__description--link {
    text-decoration: none;
    font-size: 20px;
    margin-right: 16px;
}

.project__description--title,
.project__description--subtitle,
.project__description--para,
.project__description--link {
    text-align: left;
    color: white;
}

/*FOOTER*/

footer {
    background-color: #242424;
}

.footer__anchor {
    margin-bottom: 20px;
    position: relative;

}

.footer__img--logo {
    width: 70px;
    height: 70px;
}

.footer__row {
    padding: 8% 0;
    /*when flexboxing, need to check if the parent is 100% width first */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__social--list {
    max-width: 500px;
    /*when flexboxing, need to check if the parent is 100% width first */
    width: 100%;
    /*spaces the list in the footer */
    display: flex;
    justify-content: space-around;
    margin-bottom: 28px;
}


.footer_social--link,
.footer__copyright {
    color: #f8f8f8;
}


.footer__logo--popper {
    color: white;
    /*position the top button relative to the foot__anchor*/
    position: absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: opacity 450ms ease;
    transition: transform 500ms ease;


}

.footer__anchor:hover .footer__logo--popper {
    transform: translateX(60px);
    opacity: 1;
}

/*makes the scrolling to the top easier*/
html {
    scroll-behavior: smooth;
}

/*same as the blur effect, position underline relative to the <a> in the general section+ starts out with width 0*/

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    /*left to right underline effect*/
    right: 0;
    transition: all 300ms ease;

}


.link__hover-effect:hover:after {
    width: 100%;
    /*left to right underline effect*/
    left: 0;
}

.link__hover-effect--white::after {
    background-color: white;
}

.link__hover-effect--black::after {
    background-color: black;
}


/*responsive for phones, tablets, etc*/

@media (max-width:768px) {

    nav {
        height: 68px;
    }

    h1 {
        font-size: 28px;
    }

    .about-me__info--para {
        font-size: 18px;
    }

    .language {
        width: calc(100% / 3);

    }

    .project__description--para {
        font-size: 12px;

    }

    .project__description {
        padding-right: 30px;
        left: 30px;
    }

}

/*responsive for small phones*/

@media (max-width:480px) {


    /*displays only the last contact link*/
    .nav__link:not(:last-child) {
        display: none;
    }

    /*allows for the text align in project description title and subtitle*/
    .project__description {
        padding: 0;
        left: 0;
        width: 100%;
    }

    /*removes the paragraph description*/
    .project__description--para {
        display: none;
    }

    /*aligns the links in the center*/
    .project__description--links {
        display: flex;
        justify-content: center;
    }

    .project__description--subtitle {
        text-align: center;
        margin: 12px 0;
    }

    .project__description--title {
        text-align: center;
        line-height: 1;
        font-size: 32px;
    }








}