@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    color: #242424;
    text-align: center;
    line-height: 1.25em;
}

h1{
    font-size: 36px;
}

p {
    line-height: 1.5em;
    font-size: 16px;
}

/*removes the dot points*/
li {
    list-style-type: none;
}

/* makes <div class="about-me__info--row"> also min height 100vh */

.flex{
    display: flex;
}

/*makes the about-me section the entire min height= 100vh*/
.flex-1 {
    flex: 1;
}

/*makes the width of the about-me info container max width of 800px of the flex flex-1 container*/
.row{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

}

.text--purple{
    color: #6030b1;
}

/*NAVIGATION BAR*/

/*displays horizontally and spaces the logo and the links*/
nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*gets the links to become horizontal*/
.nav__link--list {
    display: flex;
}

/*all nav links*/
.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}

/*purple link*/
.nav__link--anchor-primary {
    background-color: #6030b1;
    color: white;
    border-radius: 50px;
    padding: 8px 20px;
    /*makes the transition of hover smoother*/
    transition: all 300ms ease;

}

/*makes purple link background darker when hover over*/
.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

/*styles the Adnan Khan logo on the left of navigation bar*/
.personal__logo {
    font-size: 24px;
    font-weight: bold;
    color: #6030b1;
    margin: 0 12px;

}

/*ABOUT ME*/

/*makes the page the entire height 100vh=1920px*/
#about__me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*allows the undraw image to take up the full height of page*/
.about-me__info {
    display: flex;
    flex-direction: column;
}


/*centers the image, h1 and p*/
.about-me__info--container{
    display: flex;
    flex-direction: column;
    align-items: center;

    /*styles the writing to become less wide*/
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

/*changes the size of picture*/
.about-me__picture--mask{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*gets rid of square box*/
    overflow: hidden;
    /*styles the bottom to display a shadow effect*/
    box-shadow: 0 8px 16px rgba(0,0,0,0.16);
    margin-bottom: 28px;

}

/*make sure the image that is wrapped has width of 100%*/
.about-me__picture{
    width: 100%;

    /*improving picture*/
    transform: scale(1.5);
    padding-top: 8px;
}

/*moves the paragraph down*/
.about-me__info--title{
    margin-bottom: 28px;
}

.about-me__info--para{
    font-size: 20px;
    margin-bottom: 28px;
}

.about-me__link {
    font-size: 20px;
    color: #242424;
    text-decoration: none;
    padding: 0 16px;
}

/*allows the undraw image to take up the full height of page*/
.about-me__image--container{
    flex: 1;
    display: flex;
    align-items: center;
}

.about-me__image{
    width: 100%;
}

